# Библиотека `pandas`: часть 1

*Алла Тамбовцева*

## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *homework-pandas1.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

### Задание 1

Загрузить массив `NumPy` из файла `"arr_pandas.npy"` (как в задании к предыдущему модулю) и преобразовать его в датафрейм. Массив содержит данные по результатам соревнований Scottish Hill Races в 2000 году (полное описание на английском языке можно посмотреть на [странице](https://vincentarelbundock.github.io/Rdatasets/doc/DAAG/races2000.html) с документацией по исходному файлу с данными).

**Подсказка (преобразование в датафрейм):**

In [62]:
import numpy as np
import pandas as pd

In [63]:
arr = np.load('arr_pandas.npy', allow_pickle=True)
dat = pd.DataFrame(arr)

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [64]:
print(f'Rows: {dat.shape[0]}\nColumns: {dat.shape[1]}')

Rows: 77
Columns: 6

### Задание 3

Присвоить столбцам следующие названия (указаны с пояснениями): 

* `id`: id участника
* `dist`: расстояние в милях (по карте)
* `climb`: высота, достигнутая на маршруте (в сумме за весь маршрут, в футах)
* `time`: время (в часах)
* `timef`: время для женщин (в часах)
* `type`: тип гонки (*hill*, *marathon*, *relay*, *uphill* or *other*)

In [65]:
dat.columns = ['id', 'dist', 'climb', 'time', 'timef', 'type']
dat.head()

                   id  dist climb      time     timef    type
0  Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
1   Broughton Brewery   2.0   650  0.254444  0.316667   other
2         El-Brim-Ick   3.0   750  0.485833  0.389167   other
3  The Devils Burdens  21.0  4100  2.399722  3.093333   relay
4       Tiso Carnethy   6.0  2500  0.782222  0.919167    hill

### Задание 4

Вывести на экран значение высоты, достигнутой на маршруте участником *Norman's Law*.

In [66]:
dat.loc[dat.id == 'Norman\'s Law', ['id', 'climb']]

             id climb
7  Norman's Law   700

### Задание 5
Вывести на экран значения показателей `dist`, `climb` , `time` для первых 10 участников.

In [67]:
dat.loc[:10, ['dist', 'climb', 'time']]

    dist climb      time
0    2.0  2000  0.403611
1    2.0   650  0.254444
2    3.0   750  0.485833
3   21.0  4100  2.399722
4    6.0  2500  0.782222
5    7.0  1800  0.793333
6    1.5  1400  0.314444
7    5.0   700  0.464167
8    6.0   900  0.546111
9    5.0  1200  0.623333
10   4.0  1300  0.458889

### Задание 6

Вывести на экран сводную информацию по датафрейму, которая включает типы всех столбцов. Сколько столбцов типа `float` в датафрейме? Привести ответ на вопрос в виде текста или комментария к коду.

In [68]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      77 non-null     object
 1   dist    77 non-null     object
 2   climb   77 non-null     object
 3   time    77 non-null     object
 4   timef   75 non-null     object
 5   type    77 non-null     object
dtypes: object(6)
memory usage: 3.7+ KB

# No float columns

### Задание 7

Выбрать строки, которые соответствуют участникам эстафеты (*relay*).

In [69]:
dat[dat.type == 'relay']

                    id  dist climb      time     timef   type
3   The Devils Burdens  21.0  4100  2.399722  3.093333  relay
16             Ben Rha   7.5   800  0.738056  0.997222  relay
74              Elrick   3.6   650  0.358056    0.4425  relay

### Задание 8

Выбрать строки, которые соответствуют участникам гонки в холмах (*hill*), которые в сумме достигли высоты более 1000 футов. Посчитать, сколько таких участников.

In [70]:
dat[(dat.type == 'hill') & (dat.climb > 1000)].shape[0]

39

### Задание 9

Выбрать строки, соответствующие участникам, которые либо достигли высоты более 4000 футов, либо потратили менее 0.5 часов.

In [71]:
dat[(dat.climb > 4000) | (dat.time < 0.5)]

                       id  dist climb       time      timef      type
0      Aonach Mor Gondola   2.0  2000   0.403611   0.518889    uphill
1       Broughton Brewery   2.0   650   0.254444   0.316667     other
2             El-Brim-Ick   3.0   750   0.485833   0.389167     other
3      The Devils Burdens  21.0  4100   2.399722   3.093333     relay
6              Chapelgill   1.5  1400   0.314444   0.376667      hill
7            Norman's Law   5.0   700   0.464167   0.609167      hill
10                 Screel   4.0  1300   0.458889   0.543611      hill
12            Hunters Bog   4.5   800   0.409444   0.477778     other
13         Aberfoyle Dash   3.0  1000     0.3375   0.381389    uphill
14          Manx Mountain  30.5  8000   4.469722   5.523333  marathon
15          Whangie Whizz   3.5   800   0.395556   0.464167      hill
17          Stuc A'Chroin  14.0  5000   1.983333   2.398889      hill
20               Kinnoull   4.0   800   0.387222     0.4525      hill
22  Scottish Nuclear Kaim   3.5  1250   0.431111       0.54      hill
25           Isle of Jura  16.0  7500   3.116389   3.839444     other
26                 Scolty   5.0   800   0.495833   0.579167      hill
28           12 Trig Trog  46.0  7500   8.306944  13.547778      hill
33             Ben Sheann   2.5  1400   0.381667   0.484722      hill
34              Glen Rosa  13.0  5500   2.220278   2.704722      hill
35      West Highland Way  95.0  9200  15.438889  18.879167     other
38             Eildon Two   4.5  1500   0.427222   0.507778     other
44             Black Hill   4.0   600   0.447778   0.532222      hill
48       Meall Ant-Suidhe   3.5  1500      0.465   0.609722      hill
50            Lochaber AC   2.0   900   0.284722   0.360556      hill
51      Lochaber Highland   2.0   900   0.294167   0.473056      hill
53            Ben Rhinnes  14.0  4900   1.976111   2.355833      hill
55             Creag Dubh   3.0  1223   0.463889   0.601667      hill
56             Glen Clova  15.0  5500   2.567222   2.962222      hill
57             Caerketton   2.5   800   0.208611   0.246667      hill
61                   Oban  2.25   500   0.232222   0.298889      hill
62              Ben Nevis  10.0  4400   1.426111   1.723611      hill
63                Braemar   4.0  2000   0.407778        NaN     other
64        Moffat Beef Tub   2.0  1500   0.332222   0.436944      hill
69          Two Breweries  18.0  4900   2.565833   3.088333      hill
71               Pentland  16.0  6200   2.377778      2.785      hill
72                  Tinto   4.5  1500   0.499444   0.581111      hill
74                 Elrick   3.6   650   0.358056     0.4425     relay
75                Gondola   2.5  2000   0.387222   0.518889    uphill
76            Greenmantle   2.0   650   0.254444   0.316667     other

### Задание 10

Создать столбец `time_min`, который содержит время маршрута, измеренное в минутах.

In [72]:
dat['time_min'] = dat.time * 60
dat.head()

                   id  dist climb      time     timef    type    time_min
0  Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill   24.216667
1   Broughton Brewery   2.0   650  0.254444  0.316667   other   15.266667
2         El-Brim-Ick   3.0   750  0.485833  0.389167   other       29.15
3  The Devils Burdens  21.0  4100  2.399722  3.093333   relay  143.983333
4       Tiso Carnethy   6.0  2500  0.782222  0.919167    hill   46.933333

### Задание 11

Создать столбец `year` с годом соревнований (везде 2000 год). Внимание: столбец с годом должен быть числовым (целочисленным).

In [73]:
dat['year'] = 2000
dat.year.dtype

dtype('int64')

.<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> 
# Дополнительное (необязательное) задание.
<br>

### Задание 1

Загрузить датафрейм из файла `extraversion.csv`, используя код ниже. При этом файл `extraversion.csv` должен находиться в той же папке, что и ноутбук с решениями. Его можно поместить в ту же папку, нажав кнопку *Upload* в *Home*.

In [74]:
# кодировка UTF-8, чтобы кириллица корректно считывалась на Windows
ps = pd.read_csv("extraversion.csv", encoding="UTF-8")

Файл содержит результаты учебного психометрического исследования, целью которого является выявление связи между уровнем экстраверсии человека и его склонности к участию в волонтёрской деятельности. Датафрейм содержит следующие столбцы:

* `sex`: пол респондента (Женский, Мужской);
* `volunteer`: регулярное участие в волонтёрской деятельности (Да, Нет);
* `Q 1` - `Q 57`: ответы на вопросы по анкете Айзенка (Да, Нет), информацию об анкете и сами вопросы можно найти на [этой](http://ipp.hse.ru/57-testytest-ajzenka-ekstraversiya-introversiya-nejrotizm) странице.

In [75]:
ps.head()

,Unnamed: 0.1,Unnamed: 0,sex,volunteer,Q 1,Q 2,Q 3,Q 4,Q 5,Q 6,...,Q 48,Q 49,Q 50,Q 51,Q 52,Q 53,Q 54,Q 55,Q 56,Q 57
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Да,Нет,Нет,Да,Да,Нет,Нет,Нет,Нет,Да
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Да,Да,Нет,Нет,Нет,Да,Нет,Да,Да,Нет
2,2,3,Женский,Да,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Нет,Нет,Да,Нет,Нет,Да,Да,Нет
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Нет,Да,Да,Нет,Нет,Нет,Да,Нет,Нет
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Да,Да,Нет,Нет,Да,Да,Да,Да,Да,Нет

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [76]:
print(f'Rows: {ps.shape[0]}\nColumns: {ps.shape[1]}')

Rows: 52
Columns: 61

### Задание 3

Переименовать столбцы `Q 1`-`Q 57` в `Q1`-`Q57`, другими словами, убрать в названиях всех столбцов пробелы в середине (если есть). 

**Подсказка 1:** Метод `.replace()` для строк на [pythontutor.ru](https://pythontutor.ru/lessons/str/).

**Подсказка 2:** Для выполнения этого задания можно написать функцию, которая будет заменять пробелы на «пустоту», а потом применить её с помощью функции `map()` ко всем элементам списка. Пример ниже иллюстрирует применение функции для изменения регистра текста.

In [ ]:
# Пример

L = ['яблоко', 'груша', 'слива']  # исходный список

# функция принимает на вход строку x и возвращает её же,
# но большими буквами – метод .upper()

def f(x):
    """
    Input: x is a string.
    Output: x is a string.
    Makes all letters uppercase.
    """
    return x.upper()

# результат: применяем функцию f к списку L через map и преобразуем в список
# можно убрать list() вначале и убедиться, что он здесь нужен

list(map(f, L))

['ЯБЛОКО', 'ГРУША', 'СЛИВА']

In [81]:
ps.columns = list(ps.columns[:4]) + list(map(lambda col: col.replace(' ', ''), ps.columns[4:]))
ps.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'sex', 'volunteer', 'Q1', 'Q2', 'Q3',
       'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24',
       'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44',
       'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54',
       'Q55', 'Q56', 'Q57'],
      dtype='object')

### Задание 4

Выбрать столбцы `Q1`, `Q3`, `Q8`, `Q10`, `Q13`, `Q17`, `Q22`, `Q25`, `Q27`, `Q39`, `Q44`, `Q46`, `Q49`, `Q53`, `Q56` и сохранить их в отдельный датафрейм `extra_yes`. 

Выбрать столбцы `Q5`, `Q15`, `Q20`, `Q29`, `Q32`, `Q34`, `Q37`,`Q41`, `Q51` и сохранить их в отдельный датафрейм `extra_no`.

Эти столбцы будут использоваться для вычисления индекса экстраверсии.

In [93]:
extra_yes = ps[['Q1', 'Q3', 'Q8', 'Q10', 'Q13', 'Q17', 'Q22', 'Q25', 'Q27', 'Q39', 'Q44', 'Q46', 'Q49', 'Q53', 'Q56']]
extra_yes.head()

   Q1   Q3   Q8  Q10  Q13  Q17  Q22  Q25  Q27  Q39  Q44  Q46  Q49  Q53  Q56
0  Да  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет
1  Да  Нет   Да   Да  Нет   Да  Нет   Да   Да   Да  Нет  Нет   Да   Да   Да
2  Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да  Нет   Да  Нет   Да
3  Да  Нет  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет
4  Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет   Да   Да   Да   Да

In [94]:
extra_no = ps[['Q5', 'Q15', 'Q20', 'Q29', 'Q32', 'Q34', 'Q37','Q41', 'Q51']]
extra_no.head()

   Q5  Q15 Q20  Q29  Q32  Q34  Q37  Q41  Q51
0  Да   Да  Да   Да   Да  Нет   Да  Нет   Да
1  Да  Нет  Да  Нет  Нет   Да  Нет  Нет  Нет
2  Да   Да  Да  Нет  Нет   Да  Нет  Нет  Нет
3  Да  Нет  Да   Да   Да   Да   Да  Нет   Да
4  Да  Нет  Да  Нет   Да   Да   Да  Нет  Нет

### Задание 5

Посчитать для каждой строки в датафрейме `extra_yes` число ответов `"Да"` и полученный результат сохранить в переменную `extra_yes_sum`. Посчитать для каждой строки в датафрейме `extra_no` число ответов `"Нет"` и полученный результат сохранить в переменную `extra_no_sum`.

**Подсказка 1:** метод `.isin()` для [датафреймов](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) `pandas`.

**Подсказка 2:** метод `.sum()` для [датафреймов](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html) `pandas`.

In [107]:
extra_yes_sum = extra_yes.isin(['Да']).sum(axis=1)
extra_yes_sum.head()

0     3
1    10
2     8
3     2
4     9
dtype: int64

In [108]:
extra_no_sum = extra_no.isin(['Нет']).sum(axis=1)
extra_no_sum.head()

0    2
1    6
2    5
3    2
4    4
dtype: int64

### Задание 6

Добавить в исходный датафрейм столбец `extra`, который представляет собой индекс экстраверсии, который считается так: сумма числа ответов "Да" в `extra_yes` и числа ответов "Нет" в `extra_no`.

In [109]:
ps['extra'] = extra_yes_sum + extra_no_sum
ps.head()

,Unnamed: 0.1,Unnamed: 0,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra,female
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5,1
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16,1
2,2,3,Женский,Да,Да,Да,Нет,Нет,Да,Да,...,Нет,Нет,Да,Нет,Нет,Да,Да,Нет,13,1
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4,1
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Да,Да,Да,Нет,13,1

### Задание 7

Добавить в исходный датафрейм столбец `female`, состоящий из значений 0 и 1 (0 — Мужской, 1 — Женский). 

**Подсказка:** возможно, пригодится метод `.astype()` для [Series](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Series.astype.html) в `pandas`, он преобразует типы столбцов.

In [110]:
ps['female'] = (ps.sex == 'Женский').astype('int64')
ps[['sex', 'female']]

        sex  female
0   Женский       1
1   Женский       1
2   Женский       1
3   Женский       1
4   Женский       1
5   Женский       1
6   Женский       1
7   Женский       1
8   Женский       1
9   Женский       1
10  Мужской       0
11  Женский       1
12  Женский       1
13  Женский       1
14  Женский       1
15  Женский       1
16  Женский       1
17  Женский       1
18  Женский       1
19  Женский       1
20  Женский       1
21  Женский       1
22  Женский       1
23  Мужской       0
24  Мужской       0
25  Женский       1
26  Женский       1
27  Женский       1
28  Женский       1
29  Женский       1
30  Женский       1
31  Женский       1
32  Женский       1
33  Мужской       0
34  Женский       1
35  Женский       1
36  Женский       1
37  Женский       1
38  Женский       1
39  Женский       1
40  Женский       1
41  Женский       1
42  Женский       1
43  Женский       1
44  Женский       1
45  Женский       1
46  Женский       1
47  Женский       1
48  Женский       1
49  Женский       1
50  Женский       1
51  Женский       1

### Задание 8

Выбрать из исходного датафрейма строки, которые соответствуют либо волонтёрам с индексом экстраверсии выше 15, либо не-волонтёрам с индексом экстраверсии ниже 15. Сохранить в датафрейм `pure`.

In [112]:
pure = ps[((ps.volunteer == 'Да') & (ps.extra > 15)) | ((ps.volunteer != 'Да') & (ps.extra < 15))]
pure.head()

,Unnamed: 0.1,Unnamed: 0,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra,female
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5,1
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16,1
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4,1
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Да,Да,Да,Нет,13,1
7,7,8,Женский,Да,Да,Да,Да,Нет,Да,Да,...,Да,Нет,Да,Да,Да,Да,Да,Нет,21,1

### Задание 9

Определить (любым способом, кроме явного подсчёта), сколько волонтёров и не-волонтёров в датафрейме `pure`.

In [121]:
pure.groupby('volunteer').size()

volunteer
Да      6
Нет    21
dtype: int64

### Задание 10

Определить минимальное, максимальное, среднее и медианное значение индекса экстраверсии в датафрейме `pure`. Сохранить полученные результаты в отдельные переменные (их должно быть 4).

Добавить в датафрейм `pure` столбец `high`, состоящий из 0 и 1, где 1 соответствует респондентам, уровень экстраверсии которых выше значения $m = \max\{\text{median}, \text{mean}\}$, то есть максимума из медианного и среднего значения, а 0 — респондентам с уровнем экстраверсии не выше $m$.

In [134]:
pure.describe()['extra']

count    27.000000
mean     11.222222
std       4.901596
min       2.000000
25%       8.500000
50%      11.000000
75%      14.000000
max      21.000000
Name: extra, dtype: float64

In [133]:
min = pure.describe().loc['min', 'extra']
max = pure.describe().loc['max', 'extra']
mean = pure.describe().loc['mean', 'extra']
median = pure.describe().loc['50%', 'extra']

m = np.max([mean, median])

In [136]:
pure['high'] = (pure.extra > m).astype(int)
pure[['extra', 'high']]

/var/folders/cj/7pbw4t016v72qg78txbzq1b40000gn/T/ipykernel_7765/872219538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pure['high'] = (pure.extra > m).astype(int)

    extra  high
0       5     0
1      16     1
3       4     0
4      13     1
7      21     1
8      12     1
9      19     1
10      8     0
11     17     1
14      6     0
16     14     1
18     11     0
19      9     0
20     11     0
23     17     1
26     12     1
29      3     0
33      9     0
34      9     0
37      8     0
38     10     0
40     12     1
43     10     0
45     14     1
47      2     0
48     18     1
50     13     1